body {
    left: auto;
    min-height: auto;
    margin-top: 0px;
    padding-top: 6px;
    padding-bottom: 10px;;
    background-color: white;  
    background-image:url(https://www.kastapp.co/images/gradient-violet-bg.jpg);
    background-size: cover;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 16px;
    font-weight: 500;
}

.navbar {
    position: fixed;
    display: flex;
    flex-direction: row;
    background-color: transparent;
    height: 50px;
    width: 99%;
    justify-content: flex-end;
    align-items: stretch;
    margin-top: 7px;
}

.nav-item {
    color: white;
    padding-left: 1em;;
    margin-right: 2em;
    font-size: 16px;
    font-weight: 500;
}

#prem-hover:hover {
    text-decoration: underline;
}

#kast-logo img {
    height: auto;
    width: 201px;
    padding-top: 6px;
    padding-right: 600px;
    transition: transform .5s;
}

#kast-logo img:hover {
    transform: scale(1.025);
}

/* #kast-logo {
    color: white;
    font-size: 40px;
    background-color: transparent;
    margin-inline-end: auto;
    padding-left: 1.65em;
    letter-spacing: 12px;
    font-weight: bold;
} */

#kast-button {
    background-color: transparent;
    color:white; 
    border-color: white;
    margin-left: 10px;
    margin-right: 1em;
    margin-top: 12px;
    border: 1px solid white;
    padding: 12px 6px 12px 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    letter-spacing: 1.5px;
}

#kast-button:hover {
    border: 1.5px solid white;
}

#button-block {
    width: 150px;
    height: 50px;
    background-color: grey;
    position: relative;
}


#laptop {
    height: auto;
    width: 610px;
    background-position: center;
}

#purple-container {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 9.6em;
    justify-content: space-around;
}

#purple-p1 {
    font-size: 48px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-align: center;
    font-weight: 600;
    line-height: 56px;
    padding: 0px;
    margin-top: 30px;
    margin-bottom: 35px;
}

#purple-p2 {
    max-width: 560px;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-align: center;
    font-weight: 500;
}

#purple-p3 {
    max-width: 560px;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-align: center;
    font-weight: 500;
    padding-top: 15px;
    margin-bottom: 2px;
}

#open-kast {
    margin-bottom: 0px;
    margin-top: 34px;
    width: 215px;
    height: 46px;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-align: center;
    font-weight: 700;
    background-color: #fe9000;
    border: 5   px;
    border-color: transparent;
    border-radius: 3px;
    letter-spacing: 1.8px;
    margin-bottom: 90px;
    text-transform: uppercase;
    text-indent: 1x;
}

/* #open-kast:hover {
    border: 5px;
    color: white;
} */

.white-section {
    margin: 0 -8px;
    background: white;
    padding-bottom: 80px;
}

.testim-images1 {
    display: flex;
    width: 1325px;
    margin: 0;
    flex-direction: row;
    height: auto;
    justify-content: center;
}

.test-im {
    padding: 60px;
}

.testim-images2{
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: center;
    margin-right: 35px;
}

#w-header {
    color: #434146;
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    text-align: center;
    padding-top: 4.5em;
    margin-bottom: 0;
}

#quote {
    width: 100%;
    font-size: 20px;
    text-align: center;
    color: #434146;
}

#yahoo {
    width: 100%;
    font-size: 16px;
    color: #434146;
    padding-left: 930px;;
    padding-top: 5px;
}